body {
  background: #333;
  color: #fff;
}

header {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font: bold 2rem monospace;
}

/* -------------------------------------------------------------------------- */

main {
  height: calc(100vh - 200px);

  display: flex;
  align-items: center;
  justify-content: center;
}

main h1 {
  font: bold 10rem monospace;

  position: relative;
  color: #25d3658e;
  cursor: pointer;
}

main h1::before {
  content: "#30DIASDECSS";
  color: #25d366;

  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 0%;
  transition: ease-in-out 0.3s;
}

main h1:hover::before {
  width: 100%;
}

/* -------------------------------------------------------------------------- */

footer h4 {
  font: 500 1.3rem monospace;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer h4 a {
  margin-left: 0.5rem;
}
