body {
  background: #1c1c1c;
}

header {
  width: 100%;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font: bold 2.5rem "Ubuntu", sans-serif;
  padding-bottom: 0.8rem;
  color: #fff;
}

header p {
  font: 300 1.1rem "Ubuntu", sans-serif;
  color: gray;
  margin: 0.3rem 0;
}

header p a {
  color: #fff;
}

main {
  height: auto;

  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1.4rem;
  row-gap: 1.4rem;
  place-items: center;
}

main div {
  background: blueviolet;
  width: 100%;
  height: 80px;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

main div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  height: 100%;
}

main div a span {
  margin: 0 0.5rem;
  font: 500 1.2rem "Ubuntu", sans-serif;
}

main div a svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

main div:hover {
  transform: translateY(-10px);
  opacity: 0.7;
}

@media (min-width: 1200px) {
  main {
    width: 1140px;
  }
}

footer {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  width: 32px;
  height: 32px;
  margin: 0 1rem;
  transition: ease-in-out 0.3s;
}

footer a:hover {
  transform: translateY(-10px);
}

footer a:hover svg {
  fill: #666;
}

footer a svg {
  fill: #fff;
  transition: ease-in-out 0.3s;
}
