body {
  background: #333;
  color: #fff;
}

header {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font: bold 2rem monospace;
}

/* -------------------------------------------------------------------------- */

main {
  height: calc(100vh - 200px);

  display: flex;
  align-items: center;
  justify-content: center;
}

main div {
  width: auto;
  height: auto;
  display: -webkit-inline-flex;
  flex-wrap: wrap;

  position: relative;

  animation: animate 1s linear infinite;
  transform: rotate(45deg);
}

main div span {
  width: 50px;
  height: 50px;
  position: absolute;
  animation: rotate 1s linear infinite;
}

main div span:nth-child(1) {
  background: green;
  top: 0;
  left: 0;
}
main div span:nth-child(2) {
  background: blue;
  left: 0;
  bottom: 0;
}
main div span:nth-child(3) {
  background: yellow;
  right: 0;
  top: 0;
}
main div span:nth-child(4) {
  background: pink;
  bottom: 0;
  right: 0;
}

/* -------------------------------------------------------------------------- */

footer h4 {
  font: 500 1.3rem monospace;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer h4 a {
  margin-left: 0.5rem;
}

/* -------------------------------------------------------------------------- */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(90deg);
  }

  90% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }

  10% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 150px;
    height: 150px;
  }

  90% {
    width: 100px;
    height: 100px;
  }

  100% {
    width: 100px;
    height: 100px;
  }
}
