body {
  background: #333;
  color: #fff;
}

header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 2rem;
  background: #222;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin: 0 0.5rem;
}

header nav ul li a {
  font: normal 1.2rem monospace;
  text-decoration: none;
  color: #fff;
}

header h1 {
  font: bold 2rem monospace;
}

/* -------------------------------------------------------------------------- */

main {
  height: calc(100vh - 200px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  font: bold clamp(1rem, 5rem, 7rem) monospace;
  font-size: min(max(1rem, 15vw), 64px);
}

main h3 {
  font: bold 4rem monospace;
}

.mobile-menu input {
  position: absolute;
  opacity: 0;
}

.mobile-menu label {
  font-size: 2rem;
}

/* -------------------------------------------------------------------------- */

footer h4 {
  font: 500 1.3rem monospace;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer h4 a {
  margin-left: 0.5rem;
}

/* -------------------------------------------------------------------------- */

@media (min-width: 300px) {
  .mobile-menu {
    display: block;
  }

  input:checked ~ .desktop-menu {
    height: 204px;
  }

  .desktop-menu {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0;
    background: #222;

    overflow: hidden;

    transition: ease-in-out 0.3s;
  }

  header nav ul {
    align-items: center;
    flex-direction: column;
  }

  header nav ul li {
    padding: 1rem 0;
    width: 100%;

    display: flex;
    justify-content: center;

    border-top: 1px solid #333;
  }
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}
