body {
  background: #333;
  color: #fff;
}

header {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font: bold 2rem monospace;
}

/* -------------------------------------------------------------------------- */

#c-body {
  height: calc(100vh - 200px);

  display: flex;
  align-items: center;
  justify-content: center;
}

#c-body__text {
  font: bold 10rem monospace;
  text-shadow: 15px 15px 8px #00000030;
  text-align: center;
  color: orange;
  animation: rotateText 3s linear infinite alternate;
}

@keyframes rotateText {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* -------------------------------------------------------------------------- */

footer h4 {
  font: 500 1.3rem monospace;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer h4 a {
  margin-left: 0.5rem;
}
